{% extends '@App/admin/layout.html.twig' %}

{% block heading %}{{ 'Preklady'|trans({}, 'admin') }}{% endblock %}

{% block breadcrumbs %}&raquo; <a href="{{ path('admin_translation_index', {'page': page}) }}">{{ 'Preklady'|trans({}, 'admin') }}</a> &raquo; {{ 'Prelo탑i큐 text' }} {% endblock %}

{% block content %}
<form method="post" action="{{ url('admin_translation_updateProcess', {'entity': entity, 'entityId': entityId, 'page': page}) }}">
    {% for language,languageEntityGroup in languageEntityGroups %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ language }}</div>
                    <div class="panel-body">
                        {% for entityGroup in languageEntityGroup %}
                            {{ include('@App/admin/translation/form.html.twig', {'entityGroup' : entityGroup}) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Ulo탑i큐</button>
</form>
{% endblock %}
