{% extends '@App/home/layout.html.twig' %}

{% block heading %}
    <h1 class="page-header">{{ 'Články'|trans }}</h1>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home_default_index') }}">{{ 'CMS'|trans }}</a></li>
        <li class="active">{{ 'Články'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% for article in articleList %}
        <div class="row">
            <div class="col-md-1 text-center">
                <p><i class="fa fa-camera fa-4x"></i></p>
                <p>{{ article.writtenOn|date(date_format) }}</p>
            </div>
            <div class="col-md-5">
                <a href="#">
                    <img class="img-responsive img-hover" src="http://placehold.it/600x300" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>
                    <a href="{{ path('home_article_show', {'id': article.id}) }}">{{ article.heading|trans({}, 'i18n') }}</a>
                </h3>
                <p>{{ article.content|trans({}, 'i18n')|slice(0,50)|raw }}</p>
                <a class="btn btn-primary" href="{{ path('home_article_show', {'id': article.id}) }}">{{ 'Čítaj viac'|trans }} <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        {% if articleList|length > 1 %}<hr>{% endif %}
    {% endfor %}
{% endblock %}