<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table style="line-height:25px;">
            <tr valign="top">
                <td style="width:70px;font-weight:bold;">Meno:</td>
                <td style="color:rgb(194, 109, 33);font-weight:bold;">{{ contact.name }}</td>
            </tr>
            <tr valign="top">
                <td style="width:70px;font-weight:bold;"><strong>Telefónne číslo:</strong></td>
                <td style="color:rgb(194, 109, 33);font-weight:bold;">{{ contact.phone }}</td>
            </tr>
            <tr valign="top">
                <td style="width:70px;font-weight:bold;"><strong>Email:</strong></td>
                <td><a href="mailto:{{ contact.email }}" title="Email" style="color:rgb(194, 109, 33);">{{ contact.email }}</a></td>
            </tr>
            <tr valign="top">
                <td style="width:70px;font-weight:bold;"><strong>Správa:</strong></td>
                <td>{{ contact.message }}</td>
            </tr>
        </table>
    </body>
</html>