{% extends '@App/admin/layout.html.twig' %}

{% block heading %}{{ 'Menu'|trans({}, 'admin') }}{% endblock %}

{% block breadcrumbs %}&raquo; <a href="{{ path('admin_menu_index') }}">{{ 'Menu'|trans({}, 'admin') }}</a> &raquo; {{ 'Upraviť menu'|trans({}, 'admin') }}{% endblock %}

{% block content %}
    {% include '@App/admin/slug/list-of-slugs.html.twig' with {'entityName' : 'menu', 'entityId' : menu.id, 'slugs' : slugs} %}

    {% include '@App/admin/slug/new-slug.html.twig' with {'entityName' : 'menu', 'entityId' : menu.id } %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Upraviť menu'|trans({}, 'admin') }}</div>
                <div class="panel-body">
                    <form role="form" method="{{ form.vars.method }}" action="{{ form.vars.action }}">
                        {{ form_widget(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
